<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ラウンド情報</title>
</head>
<body>
    <h1>こんにちは！</h1>
    <form action="{% url 'add_round' %}" method="POST">
        {% csrf_token %}
        <div class="day">
            <label for="day">ラウンド日:</label>
            <input type="date" id="day" name="day">
        </div>

        <div class="member">
            {% for member in members %}
            <input type="checkbox" name="members" value="{{ member.id }}">{{ member.name }}
            {% endfor %}
        </div>

        <div>
            <label for="gather_station">集合する駅:</label>
            <input type="text" id="gather_station" name="gather_station">
        </div>

        <div>
            <label for="gather_time">集合時間:</label>
            <input type="text" name="gather_time" id="gather_time">
        </div>
        <button type="submit">ラウンド作成</button>
    </form>
</body>
</html>
