<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ページのタイトル</title>
</head>
<body>
    <h1>こんにちは！</h1>
    <a href="{% url 'add_member' %}">部員を追加する</a>
    <table>
        <tr>
             <th scope="col">名前</th>
            <th scope="col">最寄り駅</th>
            <th scope="col">車持ってるかどうか</th>
             <th scope="col">車は何人乗り</th>
        </tr>

        {% for member in members %}
        <tr>
            <td>{{ member.name }}</td>
            <td> {{ member.nearest_station }}</td>
            <td>{{ member.has_car }}</td>
            <td>{{ member.car_capacity }}</td>
        </tr>
        {% endfor %}

    </table>

    <br>
    <br>
    {% for round in rounds %}
    {{ round.day }}
    {{ round.gather_station }}
    {{ round.gather_time }}
   {% for member in round.members.all %}
    {{ member.name }}
    {% endfor %}
    <a href="{% url 'carshare_result' round.id %}">配車を計算する</a>
     {% endfor %}
</body>
</html>
